/**
 * Messages area is 100% - 70px - 210px ~ team select + channel select
 * Header is 44px high. 20px high with 24px padding (top&bottom)
 * Messages container is 100% - 44px - 56px - 5px ~ header height + chat input height + 5px margin at top
 *  - The messages container starts 5px from the top of the header and ends directly on the chat-input
 *  - this is so messages scroll behind the input, messages container has no paddings, the last message
 *  - ends directly on the input and has 16px margin of seperation
 * Chat area is 56px high, the actual chat input is 40px with the rest being space below for notifcation area
 **/

$TeamSelect-width: 70px;
$ChannelSelect-width: 210px;
$Page-width: $TeamSelect-width + $ChannelSelect-width; // - 100%

$Header-height: 44px;
$ChatInput-height: 56px;
$MessagesContainer-height: $Header-height + $ChatInput-height + 5; // - 100%

.page {
    /* 100% - 70 - 210 (team select, channel select) */
    width: calc(100vw - #{$Page-width});
    right: 0;
    height: 100%;
    position: absolute;
    background-color: #ffffff;
}

.page .header {
    background-color: rgb(247, 247, 247);
    padding: 12px 0;
    height: $Header-height;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.page .header h1 {
    color: black;
    margin-left: 11px;
    font-size: 20px;
    font-weight: 400;
}
.page .header .topic-container {
    flex-grow: 1;
    margin-left: 16px;
    margin-right: 11px;
    display: inline-flex;
    width: 0;
}
.page .header .topic-inner {
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.page .messages {
    height: calc(100% - #{$MessagesContainer-height});
    width: auto;
    margin: 5px 5px 0 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.page .messages .message-header {
    position: relative;
    margin-top: 16px;
    animation: fadein 500ms;
}
.page .messages .message-header .profile {
    width: 40px;
    height: 40px;
    margin-left: 17px;
    position: relative;
    z-index: 2;
    background-color: white;
    float: left;
}
.page .messages .message-header .profile img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
}
.page .messages .message-header h1 {
    color: #202B33;
    float: left;
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
}
.page .messages .message-header .time {
    font-size: 12px;
    color: gray;
    font-weight: 300;
    margin-left: 10px;
}

.page .messages .message {
	animation: fadein 400ms;
	font-family: 'Open Sans', sans-serif;
    color: #202B33;
    padding: 4px;
    min-height: 14px;
    font-weight: 400;
    word-break: break-word;
    margin: 2px 4px 0px 65px;
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -webkit-user-drag: text;
    cursor: text;
    white-space: pre-wrap;
    padding-right: 10px;
    border-radius: 3px;
    font-size: 14px;
    transition: background-color 0.125s ease-in-out;
}
.page .messages .message:hover {
    background-color: rgb(240,240,240);
}

.page .messages .message .time {
    color: black;
    float: left;
    margin-left: -42px;
    font-size: 12px;
    position: relative;
    top: 2px;
    font-weight: 400;
    color: gray;
    opacity: 0;
    -webkit-transition: opacity 0.125s linear;
}
.page .messages .message:hover .time{
    opacity: 1;
}

.page .messages div:last-of-type .message {
    margin-bottom: 14px;
}

.page .messages .message em {
    font-style: italic;
}

.page .messages .message strong {
    font-weight: 600;
}

.page .messages .message .removed,
.page .messages .message .channel_event,
.page .messages .message .me_message {
    font-style: italic !important;
    color: gray !important;
}

.page .messages .message .channel_event .slack-user {
    display: none;
}
.page .messages .message .slack-user {
    font-weight: 600;
}
.page .messages .message .slack-user:before {
    content:'@';
}

.page .messages .message code {
    white-space: normal;
    color: rgb(235, 0, 0);
    font-size: 12px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    padding: 0px 4px;
    font-family: monospace;
    line-height: 21px;
    border-radius: 4px;
}

.page .messages .message codeBlock {
    line-height: 18px;
    font-size: 12px;
    background-color: #f7f7f9;
    padding: 0px 4px;
    border: 1px solid #DADADA;
    display: block;
    border-radius: 4px;
    font-family: monospace;
}

.page .messages .message .inline-size {
   margin-left: 5px;
}

.page .messages .message .inline-container {
    position: relative;
}

.page .messages .message .inline-description {
    margin-left: 4px;
    margin-top: 8px;
}

.page .messages .message .inline-container .color-bar {
    background-color: #A2A2A2;
    border-radius: 4px;
    width: 4px;
    position: absolute;
    height: 100%;
}

.page .messages .message .inline-description-inner {
    padding: 2px 0 4px 10px;
}

.page .messages .message .inline-description-inner p {
    line-height: 1.3;
}

.page .messages .message .inline-description-inner .fields {
    padding-top: 2px;
}
.page .messages .message .inline-description-inner .fields .field {
    margin: 6px 0px;
}
.page .messages .message .inline-description-inner .fields .field.short {
    display: inline-block;
    width: 42%;
}
.page .messages .message .inline-description-inner .fields .field h3 {
    font-weight: 700;
    margin-bottom: 1px;
}

.page .messages .message .inline-description.thumb {
    min-height: 100px;
}

.page .messages .message .inline-description.thumb .inline-description-inner {
    width: 80%;
    display: block;
}

.page .messages .message .inline-description .description-image img {
    max-width: 70vw;
    max-height: 30vh;
    display: block;
    margin-top: 3px;
    margin-left: 8px;
    padding-bottom: 5px;
}

.page .messages .message .inline-description .description-thumb img {
    max-width: 15%;
    max-height: 100px;
    float: right;
}

.page .messages .message .inline-description .description-title {
    font-size: 16px;
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}
.page .messages .message .inline-description h2 {
    color: gray;
    margin-bottom: 2px;
    display: block;
}

.page .messages .message .inline-image img {
    max-width: 70vw;
    max-height: 30vh;
    float: none;
    display: block;
    margin-top: 5px;
    position: relative;
    border-radius: 3px;
    border: 1px solid rgba(128, 128, 128, 0.38);
}

.page .messages .message .inline-image.false img {
    height: 0px;
    border: 0px solid rgba(128, 128, 128, 0.38);
}

.page .messages .message .toggle-inline {
    margin-left: 5px;
    color: rgba(128, 128, 128, 0.98);
    top: 2px;
    position: relative;
    cursor: pointer;
}

.page .messages .message .edited {
    float: right;
    font-size: 12px;
    position: relative;
    top: 2px;
    font-weight: 400;
    color: gray;
}

.page .messages .message .emoji {
    top: 4px;
    margin-top: -14px;
    height: 20px;
    position: relative;
}

.page .chat-input {
    position: absolute;
    bottom: 0;
    height: $ChatInput-height;
    width: 100%;
}
.page .chat-input .chat-inner {
    position: relative;
    width: calc(100% - 40px);
    height: calc(100% - 16px);
    margin: 0 18px 4px 14px;
    height: 40px;
}
.page .chat-input .chat-inner .textarea-input {
    z-index: 3;
    position: absolute;
    bottom: 0px;
    outline: none;
    width: 100%;
    height: 100%;
    border: 2px solid #DADADA;
    border-radius: 8px;
    padding: 9px;
    font-size: 15px;
    font-family: inherit;
    box-sizing: border-box;
    -webkit-appearance: none;
    resize: none;
    min-height: 40px;
    max-height: 13em;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.page .messages .message-header .profile.failed:before {
    content: "?";
    position: absolute;
    color: black;
    font-weight: 900;
    font-size: 100%;
    font-size: 40px;
    color: grey;
    width: 100%;
    text-align: center;
}