.page {
    width: calc(100vw - 280px);
    right: 0;
    height: 100%;
    position: absolute;
    background-color: #ffffff;
}

.page .header {
    padding-top: 10px;
    height: 40px;
}

.page .header h1 {
    display: inline-block;
    color: black;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 400;
}

.page .header span {
    color: black;
    margin-left: 18px;
}

.page .messages {
    height: calc(100% - 50px - 65px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.page .messages .message {
    position: relative;
    margin-top: 20px
}

.page .messages .message .profile {
    float: left;
    margin-left: 15px;
    width: 44px;
    border-radius: 4px;
    cursor: pointer;
}

.page .messages p {
    color: #202B33;
    padding: 3px;
    margin: 3px 3px 0px 66px;
    white-space: pre-wrap;
    padding-right: 10px;
    word-break: break-word;
    border-radius: 3px;
    transition: background 0.125s ease-in-out;
}

.page .messages p:hover {
    background-color: rgb(240,240,240);
}

.page .messages .message h1 {
    color: #202B33;
    float: left;
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
}

.page .messages .message .time {
    font-size: 12px;
    color: gray;
    font-weight: 300;
    margin-left: 10px;
}

.page .chat-input {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
}

.page .chat-input .chat-inner {
    width: calc(100% - 40px);
    height: calc(100% - 20px);
    margin: 10px 20px;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 10px;
}