$Loading-color: rgb(80, 80, 80);

.slack-loading {
  width: calc(100vw - 70px);
  height: calc(100vh - 30px);
  position: relative;
  background-color: rgb(235, 235, 235);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.slack-loading.chat{
  left: 207px;
  width: calc(100vw - 270px);
}

.loading-text {
  color: $Loading-color;
  font-weight: 400;
  margin-top: -20px;
  margin-bottom: -20px;
  font-size: 30px;
}

.loader-container {
  height: 0;
}