.sidebar {
    height: 100%;
    position: fixed;
    width: 190px;
    padding-right: 15px;
    margin: 5px 5px 5px 0;
    background-color: #f1f1f1;
    overflow-y: auto;
}

.sidebar::-webkit-scrollbar{
    width:6px;
}

.sidebar h1 {
    font-weight: 400;
    font-size: 15px;
    margin-left: 20px;
    margin-bottom: 15px;
    color: #262626;
}

.sidebar h1:first-of-type {
    margin-top: 25px;
}

.sidebar ul {
    margin-bottom: 35px;
}

.sidebar ul li {
    list-style: none;
    margin-bottom: 4px;
    color: #444444;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    transition: all 100ms linear;
    border-radius: 0 4px 4px 0;
    padding: 3px;
    padding-left: 20px;
}

.sidebar ul li:hover {
	color: rgba(1, 115, 199, 0.6);
    background-color: #D8D8D8;
}

.sidebar ul li.active {
    color: #0173c7;
    background-color: #D8D8D8;
}

.sidebar .user-status {
    float: left;
    position: relative;
    top: 4.5px;
    width: 8px;
    margin-right: 5px;
    height: 8px;
    border-radius: 50%;
    
}

.sidebar .user-status.away{
    background-color: gray;
}

.sidebar .user-status.active{
    background-color: green;
}

.sidebar .user-status.hidden{
    display: none;
}

.sidebar ul li i p {
    color: #202B33;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
}

.sidebar .team-title{
    font-weight: 500;
    font-size: 19px;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
    color: #262626;
}

.sidebar .team-user p{
    font-weight: 500;
    font-size: 13px;
    color: rgba(38, 38, 38, 0.68);
    position: relative;
    top: 2px;
}

.sidebar .team-user{
    margin-left: 20px;
    margin-bottom: 20px;
    position: relative;
}