.teams {
    top: 30px;
    height: calc(100vh - 30px);
    width: 70px;
    position: absolute;
}

.teams .team {
    margin: 10px;
    margin-left: 13px;
    background-image: url("../images/slack_team.png");
    height: 45px;
    width: 45px;
    border-radius: 4px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-bottom: 40px;
}


.teams .add{
    bottom: 0;
    position: absolute;
    height: 45px;
    margin: 10px;
    margin-left: 13px;
    width: 45px;
    background-color: rgba(240, 248, 255, 0.12);
    border-radius: 4px;
    cursor: pointer;
}

.teams .add i {
    font-size: 25px;
    position: absolute;
    margin-top: 10px;
    margin-left: 13px; 
}


.teams .team p {
    position: absolute;
    margin-top: 48px;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 45px;
    font-weight: 500;
}